@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
body,
html {
    color: #212121;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    /* https://lqez.github.io/blog/hangul-typo-on-web.html */
    letter-spacing: -0.39px;
    /* tmp */
    /* line-height: 23.4px; */
    word-break: keep-all;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 768px) {
    body,
    html {
        font-size: 20px;
    }
}

@media screen and (max-width: 1024px) {
    body,
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 1280px) {
    body,
    html {
        font-size: 10px;
    }
}

@media screen and (max-width: 1440px) {
    body,
    html {
        font-size: 11px;
    }
}

@media screen and (max-width: 1920px) {
    body,
    html {
        font-size: 20px;
    }
}

@media screen and (max-width: 2560px) {
    body,
    html {
        font-size: 15px;
    }
}

@media screen and (min-width: 2560px) {
    body,
    html {
        font-size: 20px;
    }
}

.navbar {
    background-color: #212121;
}

#first {
    padding-top: 108px;
    padding-bottom: 85px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #212121;
    background-image: url("./img/background.svg");
    background-repeat: repeat;
    text-align: center;
    align-content: center;
    align-items: center;
}

#intro {
    padding-top: 102px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

#stack {
    padding-top: 50px;
    padding-bottom: 58px;
    padding-left: 40px;
    padding-right: 40px;
}

#vision {
    padding-top: 50px;
    padding-bottom: 64px;
    padding-left: 40px;
    padding-right: 40px;
}

#partner {
    padding-top: 50px;
    padding-bottom: 61px;
    padding-left: 40px;
    padding-right: 40px;
}

#team {
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 40px;
    padding-right: 40px;
    /* text-align: justify; */
}

#project {
    overflow-y: hidden;
}

.project-left {
    padding-top: 72px;
    padding-bottom: 98px;
    padding-left: 35px;
    /* padding-right: 35px; */
}

.project-right {
    padding-top: 72px;
    padding-bottom: 98px;
    padding-left: 35px;
    padding-right: 35px;
}

.red-background {
    background-color: #c62828;
}

footer {
    background-color: #ffffff!important;
}

.header-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
    border: 2px solid #f06447;
}

.header-button:hover {
    color: white;
    background-color: #f06447;
    border: 2px solid #f06447;
}

.navbar-brand>a:hover {
    color: white;
}

.navbar-brand>a {
    color: white;
}

.first-div {
    width: 270px;
    height: 30px;
    border-radius: 15px;
    background-color: white;
    display: table-cell;
    vertical-align: middle;
}

.first-input {
    width: 225px;
    background-color: white;
    border: solid 1px white;
}

.first-button {
    background-color: #f06447;
    color: white;
    border-radius: 50%;
    border: solid 1px white;
    text-align: center;
    width: 25px;
    height: 25px;
}

.intro-icons {
    padding-top: 100px;
}

.intro-icon {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    align-content: center;
    align-items: center;
}

.intro-icon-img {
    width: 70px;
    height: 70px;
}

.vision-icon-img {
    width: 80px;
    height: 80px;
}

@media screen and (max-width: 1024px) {
    .intro-icon-img {
        width: 50px;
        height: 50px;
    }
    .vision-icon-img {
        width: 60px;
        height: 60px;
    }
    .px-40-m {
        font-size: 2rem!important;
    }
}

.stack-block {
    border: solid 2px #000000;
    margin-bottom: 15px!important;
    padding: 0px!important;
}

.stack-blocktop {
    padding-top: 50px;
    padding-bottom: 40px;
    width: 100%;
    height: auto;
    background-color: #000000;
    text-align: center;
    align-content: center;
    align-items: center;
}

@media screen and (min-width: 769px) {
    .stack-block-middle {
        border-left: 0px;
    }
}

@media screen and (min-width: 1025px) {
    .stack-block-middle {
        border-left: 0px;
        border-right: 0px;
    }
}

.stack-blockbottom {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.stack-table {
    border: none;
    padding-right: 5px;
}

.vision-title {
    padding-bottom: 25px;
}

.vision-item {
    padding-top: 25px;
    padding-bottom: 25px;
}

.vision-item-title {
    padding-top: 17px;
    padding-bottom: 6px;
}

.partner-logo {
    height: 75px;
    border: solid 1px #bfbfbf;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partner-logo-img {
    width: 90% !important;
    height: 70% !important;
    max-height: 90% !important;
}

.project-table {
    border: none;
    padding-right: 13px;
}

.project-hr {
    color: white;
    height: 2px;
    width: 21px;
}

.mobile-show {
    display: none;
}

@media screen and (max-width: 768px) {
    .team-left {
        padding-right: 30%;
    }
    .team-right {
        padding-left: 30%;
    }
    .mobile-hidden {
        display: none;
    }
    .mobile-show {
        display: block;
    }
}

.footer-sitemap>a {
    color: #43515c;
    /* font-size: 12px; */
    font-size: .6rem;
}

.px-70 {
    /* font-size: 70px; */
    font-size: 3.5rem;
}

.px-60 {
    /* font-size: 60px; */
    font-size: 3rem;
}

.px-35 {
    /* font-size: 35px; */
    font-size: 1.75rem;
}

.px-30 {
    /* font-size: 30px; */
    font-size: 1.5rem;
}

.px-24 {
    /* font-size: 24px; */
    font-size: 1.2rem;
}

.px-22 {
    /* font-size: 22px; */
    font-size: 1.1rem;
}

.px-20 {
    /* font-size: 20px; */
    font-size: 1rem;
}

.px-15 {
    /* font-size: 15px; */
    font-size: .75rem;
}

.px-14 {
    /* font-size: 14px; */
    font-size: .7rem;
}

.px-13 {
    /* font-size: 13px; */
    font-size: .65rem;
}

.px-12 {
    /* font-size: 12px; */
    font-size: .6rem;
}

.px-10 {
    /* font-size: 10px; */
    font-size: .5rem;
}

.px-8 {
    /* font-size: 8px; */
    font-size: .4rem;
}

.px-7 {
    /* font-size: 7px; */
    font-size: .35rem;
}

.px-6 {
    /* font-size: 6px; */
    font-size: .3rem;
}

.black {
    color: #212121;
}

.bg-black {
    background-color: #212121;
}

.real-black {
    color: #000000;
}

.white {
    color: #ffffff;
}

.gray {
    color: #adadad;
}

.gray-2 {
    color: #43515c;
}

.red {
    color: #d82121;
}

.bold {
    font-weight: bold;
}

.team-top {
    padding-top: 20px;
    padding-bottom: 20px;
}

.team-shortintro {
    padding-top: 26px;
}

.team-hr {
    margin-top: 0px;
    margin-bottom: 15px;
    background-color: black;
    height: 2px;
    width: 54px;
}

.line-height-2_2rem {
    line-height: 2.2rem;
}

.add-padding-bottom {
    padding-bottom: 15px;
}

.add-padding-bottom-30px {
    padding-bottom: 30px;
}
